.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: -5px 4px hsl(289deg, 100%, 50%), -28px -86px hsl(292deg, 100%, 50%), 40px 20px hsl(216deg, 100%, 50%), 57px 25px hsl(143deg, 100%, 50%), -21px -70px hsl(15deg, 100%, 50%), 70px -111px hsl(237deg, 100%, 50%), 8px 8px hsl(337deg, 100%, 50%), -34px -103px hsl(285deg, 100%, 50%), 23px 1px hsl(259deg, 100%, 50%), 30px -65px hsl(82deg, 100%, 50%), -12px -14px hsl(330deg, 100%, 50%), 52px -63px hsl(86deg, 100%, 50%), -41px 20px hsl(292deg, 100%, 50%), -62px 19px hsl(127deg, 100%, 50%), -19px -79px hsl(213deg, 100%, 50%), -49px -121px hsl(342deg, 100%, 50%), -27px -115px hsl(137deg, 100%, 50%), 2px 10px hsl(297deg, 100%, 50%), -36px -33px hsl(246deg, 100%, 50%), -70px 11px hsl(17deg, 100%, 50%), 38px -87px hsl(160deg, 100%, 50%), -65px -2px hsl(48deg, 100%, 50%), -49px -58px hsl(13deg, 100%, 50%), -50px -54px hsl(238deg, 100%, 50%), -72px 13px hsl(106deg, 100%, 50%), -36px -12px hsl(5deg, 100%, 50%), -68px 24px hsl(57deg, 100%, 50%), 73px -88px hsl(43deg, 100%, 50%), 22px -93px hsl(78deg, 100%, 50%), 25px -38px hsl(169deg, 100%, 50%), 1px -103px hsl(342deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: -5px 4px hsl(289deg, 100%, 50%), -28px -86px hsl(292deg, 100%, 50%), 40px 20px hsl(216deg, 100%, 50%), 57px 25px hsl(143deg, 100%, 50%), -21px -70px hsl(15deg, 100%, 50%), 70px -111px hsl(237deg, 100%, 50%), 8px 8px hsl(337deg, 100%, 50%), -34px -103px hsl(285deg, 100%, 50%), 23px 1px hsl(259deg, 100%, 50%), 30px -65px hsl(82deg, 100%, 50%), -12px -14px hsl(330deg, 100%, 50%), 52px -63px hsl(86deg, 100%, 50%), -41px 20px hsl(292deg, 100%, 50%), -62px 19px hsl(127deg, 100%, 50%), -19px -79px hsl(213deg, 100%, 50%), -49px -121px hsl(342deg, 100%, 50%), -27px -115px hsl(137deg, 100%, 50%), 2px 10px hsl(297deg, 100%, 50%), -36px -33px hsl(246deg, 100%, 50%), -70px 11px hsl(17deg, 100%, 50%), 38px -87px hsl(160deg, 100%, 50%), -65px -2px hsl(48deg, 100%, 50%), -49px -58px hsl(13deg, 100%, 50%), -50px -54px hsl(238deg, 100%, 50%), -72px 13px hsl(106deg, 100%, 50%), -36px -12px hsl(5deg, 100%, 50%), -68px 24px hsl(57deg, 100%, 50%), 73px -88px hsl(43deg, 100%, 50%), 22px -93px hsl(78deg, 100%, 50%), 25px -38px hsl(169deg, 100%, 50%), 1px -103px hsl(342deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: -10%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: -20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 15%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 15%;
    margin-left: 40%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: -10%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: -20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 15%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 15%;
    margin-left: 40%;
  }
}/*# sourceMappingURL=style.css.map */